@model IEnumerable<Web.Models.HOADON>
@{
    ViewBag.Title = "Danh sách hóa đơn";
    Layout = "~/Views/Shared/MainLayout.cshtml";
    var Stt = ViewBag.I;
}

<h2 class="display-6 text-capitalize lb-page">Danh sách hóa đơn </h2>
<a class="btn mb-2 add-new" e-type="create" href="#" style="background-color: rgb(154, 192, 173)"><i class="fa-solid fa-plus"></i> Tạo hóa đơn mới</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">
                Phòng
            </th>
            <th scope="col">
                Ngày tạo
            </th>
            <th scope="col">
                Tổng tiền
            </th>
            <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @(Stt++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHONG.tenphong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaytao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tongtien)
            </td>
            <td>
                <a e-id="@item.mahd" e-type="detail" class="btn text-white" style="background-color: rgb(115, 144, 166) "><i class="fa-solid fa-calendar-week"></i> Chi tiết</a>
                <i class="fa-brands fa-squarespace fs-5"></i>
                <a e-id="@item.mahd" e-type="edit"  class="btn bg-secondary text-white"><i class="fa-solid fa-pen-to-square"></i> Sửa</a>
                <i class="fa-brands fa-squarespace fs-5"></i>
                <a e-id="@item.mahd" e-type="delete" class="btn text-white" style="background-color: rgb(200, 103, 122)"><i class="fa-solid fa-trash-can"></i> Xóa</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    <a href="@Url.Action("DownloadExcel","HoaDon")">Export to Excel</a>
</div>



