@model Web.Models.PHONG

@{
    ViewBag.Title = "Thông tin phòng";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<h2><i class="fa-solid fa-house-chimney"></i> Thông tin </h2>

<div>
    <h4>@Model.tenphong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <i class="fa-solid fa-circle-info"></i> Số giường: @Html.DisplayFor(model => model.tsogiuong)
        </dt>
        <dt>
            <i class="fa-solid fa-circle-info"></i> Tầng: @Html.DisplayFor(model => model.tang)
        </dt>
        <dt>
            <i class="fa-solid fa-circle-info"></i> Số người: @Html.DisplayFor(model => model.HOCSINHs.Count)
        </dt>
    </dl>
</div>
@if (Model.HOCSINHs.Count > 0)
{
<div class="row sample-row">
    @foreach (var item in Model.HOCSINHs.ToList())
    {
        <a href="@Url.Action("Details","HocSinh", new {id=item.mahs, call_back_url=Request.Url.ToString()})" class="col-xs-12 col-sm-6 col-md-3 gutter-margin-xs-sm gutter-margin-sm-md">
            <div class="inner"><i class="fa-regular fa-circle-user"></i> @item.hoten</div>
        </a>
    }
</div>
}


<p>
    <i class="fa-regular fa-square-caret-left"></i> 
    @Html.ActionLink("Quay lại", "Index")
</p>
