@model IEnumerable<Web.Models.PHONG>

@{
    ViewBag.Title = "Danh sách phòng";
    Layout = "~/Views/Shared/MainLayout.cshtml";
    int Stt = ViewBag.I;

}

<h2 class="display-6 text-capitalize lb-page">Danh sách các phòng hiện có </h2>
<a class="btn mb-2 add-new" e-type="create" href="#" style="background-color: rgb(154, 192, 173)"><i class="fa-solid fa-plus"></i> Thêm mới</a>
<table class="table table-striped ">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">
                Tên phòng
            </th>
            <th scope="col">
                Số giường
            </th>
            <th scope="col">
                Tầng
            </th>
            <th scope="col">
                Số người
            </th>
            <th scope="col">
                Tình trạng
            </th>
            <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @(Stt++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenphong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tsogiuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HOCSINHs.Count)
            </td>
            <td>
                @(item.tinhtrang==true? "Hoạt động":"Không hoạt động")
            </td>
            <td>
                <a e-id="@item.maphong" e-type="detail" class="btn bg-gradient text-white" style="background-color: rgb(115, 144, 166) "><i class="fa-solid fa-calendar-week"></i> Chi tiết</a>
                <i class="fa-brands fa-squarespace fs-5"></i>
                <a e-id="@item.maphong" e-type="edit" class="btn bg-secondary bg-gradient text-white"><i class="fa-solid fa-pen-to-square"></i> Sửa</a>
                <i class="fa-brands fa-squarespace fs-5"></i>
                <a e-id="@item.maphong" e-type="delete" class="btn text-white" style="background-color: rgb(200, 103, 122)"><i class="fa-solid fa-trash-can"></i> Xóa</a>
            </td>
        </tr>
        }
    </tbody>
</table>
