@model Web.Models.PHIEU_DIENNUOC
@using Web.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayout.cshtml";
    var db = new Context();
    var list_phong = db.PHONGs;
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>PHIEU_DIENNUOC</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-md-2" for="maphong">Phòng nhận hóa đơn</label>
        @if (list_phong != null && list_phong.ToList().Count > 0)
        {
            <select id="maphong" name="maphong" class="control-label col-md-2">
                @foreach (var i in list_phong.ToList())
                {
                    <option value="@i.maphong">@list_phong.FirstOrDefault(x => x.maphong == i.maphong).tenphong</option>
                }
            </select>
        }
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ngaytaophieu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ngaytaophieu, new { htmlAttributes = new { @class = "form-control", Value=DateTime.Now } })
            @Html.ValidationMessageFor(model => model.ngaytaophieu, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sodien, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sodien, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sodien, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sonuoc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sonuoc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sonuoc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.giadien, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.giadien, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.giadien, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.gianuoc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.gianuoc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.gianuoc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tongtien, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tongtien, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tongtien, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
