@model IEnumerable<Web.Models.PHIEU_DIENNUOC>

@{
    ViewBag.Title = "Hóa đơn điện nước";
    Layout = "~/Views/Shared/MainLayout.cshtml";
    int Stt = ViewBag.I;
}


<h2 class="display-6 lb-page">Danh sách hóa đơn điện nước </h2>
<a class="btn mb-2 btn-outline-primary add-new" e-type="create" href="#">Thêm mới</a>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">
                Phòng
            </th>
            <th scope="col">
                Số điện
            </th>
            <th scope="col">
                Số nước
            </th>
            <th scope="col">
                Tổng tiền
            </th>
            <th scope="col">
                Ngày tạo hóa đơn
            </th>
            <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @(Stt++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHONG.tenphong)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.sodien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sonuoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tongtien)
            </td>
            <td>
                 @item.ngaytaophieu.Value.ToString("dd/MM/yyyy")
            </td>
            <td>
                <a e-id="@item.maphieu" e-type="detail" class="btn bg-primary text-white"><i class="fa-solid fa-calendar-week"></i> Chi tiết</a>
                <i class="fa-brands fa-squarespace fs-5"></i>
                <a e-type="edit" e-id="@item.maphieu" class="btn bg-primary text-white"><i class="fa-solid fa-pen-to-square"></i> Sửa</a>
                <i class="fa-brands fa-squarespace fs-5"></i>
                <a e-id="@item.maphieu" e-type="delete" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Xóa</a>
            </td>
        </tr>
        }
    </tbody>
</table>

