@model Web.Models.HOCSINH_NEW

@{
    ViewBag.Title = "Detail_NEW";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Detail_NEW</h2>

<div>
    <h4>HOCSINH_NEW</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaysinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaysinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quequan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quequan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gioitinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gioitinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ttphuhuynh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ttphuhuynh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lop)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mahs }) |
    @Html.ActionLink("Back to List", "Index", new { stt = true })
</p>
