@model IEnumerable<Web.Models.HOCSINH_NEW>
@{
    ViewBag.Title = "Danh sách học sinh";
    Layout = "~/Views/Shared/MainLayout.cshtml";
    int Stt = 1;
}


<h2 class="display-6 text-capitalize lb-page">Danh sách kết quả tìm kiếm</h2>

<form action="/hocsinh/theanh" method="get">
    <input type="text" name="timkiem" required />
    <button type="submit">Tìm kiếm</button>
</form>
<br />
<table class="table table-striped text-capitalize">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">
                Họ tên
            </th>
            <th scope="col">
                Ngày sinh
            </th>
            <th scope="col">
                Quê quán
            </th>
            <th scope="col">
                Giới tính
            </th>
            <th scope="col">
                Lớp
            </th>
            <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(Stt++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hoten)
                </td>
                <td>
                    @item.ngaysinh.Value.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quequan)
                </td>
                <td>
                    @(item.gioitinh==true? "Nam":"Nữ")
                </td>
                <td>
                    @Html.DisplayFor(m => item.lop)
                </td>
                <td>
                    @if (ViewBag.Stt == true)
                    {
                        <a e-id="@item.mahs" e-type="set" href="@Url.Action("XepPhong", new { id=item.mahs})" class="btn bg-primary text-white"><i class="fa-solid fa-person-shelter"></i> Xếp phòng</a>
                        <i class="fa-brands fa-squarespace fs-5"></i>
                    }
                    <a e-id="@item.mahs" e-type="edit" class="btn bg-secondary text-white"><i class="fa-solid fa-pen-to-square"></i> Sửa</a>
                    <i class="fa-brands fa-squarespace fs-5"></i>
                    <a e-id="@item.mahs" e-type="delete" class="btn text-white" style="background-color: rgb(200, 103, 122)"><i class="fa-solid fa-trash-can"></i> Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>


